n8n-workflows/x-trending-to-newsroom.json
{
  "name": "X Trending Topics → Newsroom",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://trends24.in/united-states/",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-trends-page",
      "name": "Fetch Trends Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse trending topics from trends24.in\n// The page has ordered lists (<ol>) grouped by time period.\n// Each <li> contains an <a> linking to twitter.com/search with the trend name as text.\n// We grab the FIRST <ol> block (most recent time period) and extract top 5.\n\nconst html = $input.first().json.data;\nconst trends = [];\n\n// Match all <a> tags that link to twitter.com/search\n// These appear inside <ol><li> blocks on the page\nconst pattern = /<li[^>]*>\\s*<a[^>]*href=\"https?:\\/\\/twitter\\.com\\/search\\?q=([^\"]*)\"[^>]*>([^<]+)<\\/a>/gi;\n\nlet match;\nwhile ((match = pattern.exec(html)) !== null && trends.length < 5) {\n  const name = match[2].trim();\n  const query = match[1];\n  if (name && !trends.find(t => t.name === name)) {\n    trends.push({\n      name: name,\n      url: `https://x.com/search?q=${query}`,\n      tweet_volume: null\n    });\n  }\n}\n\n// Fallback: if the <li><a> pattern doesn't match, try a broader pattern\n// trends24 sometimes uses different markup\nif (trends.length === 0) {\n  const fallback = /<a[^>]*href=\"https?:\\/\\/(twitter|x)\\.com\\/search\\?q=([^\"]*)\"[^>]*>([^<]+)<\\/a>/gi;\n  while ((match = fallback.exec(html)) !== null && trends.length < 5) {\n    const name = match[3].trim();\n    const query = match[2];\n    if (name && name.length > 1 && !trends.find(t => t.name === name)) {\n      trends.push({\n        name: name,\n        url: `https://x.com/search?q=${query}`,\n        tweet_volume: null\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    location: 'United States',\n    trends: trends\n  }\n}];"
      },
      "id": "parse-trends",
      "name": "Parse Trending Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-trends-exist",
              "leftValue": "={{ $json.trends.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-trends",
      "name": "Has Trends?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEWSROOM_URL }}/api/trending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.TRENDING_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "push-to-newsroom",
      "name": "Push to Newsroom API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 220]
    },
    {
      "parameters": {},
      "id": "no-trends-alert",
      "name": "No Trends Found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 420]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [{ "node": "Fetch Trends Page", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Trends Page": {
      "main": [
        [{ "node": "Parse Trending Topics", "type": "main", "index": 0 }]
      ]
    },
    "Parse Trending Topics": {
      "main": [
        [{ "node": "Has Trends?", "type": "main", "index": 0 }]
      ]
    },
    "Has Trends?": {
      "main": [
        [{ "node": "Push to Newsroom API", "type": "main", "index": 0 }],
        [{ "node": "No Trends Found", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "newsroom" },
    { "name": "trending" }
  ]
}
